.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.card {
  background-color: #77b5fe;
  width: 350%;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}
.card1 {
  border-style: solid;
  border-width: 2px;
  position: "absolute";
  margin-right: "0px";
  background-color: "white";
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 150%;
}
.header {
  position: relative;
}
.header .cell {
  position: absolute;
}
header {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
